.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 70px 10%;
}

.projects-title {
  position: relative;
}

.projects-title h1 {
  font-size: 60px;
  padding: 0 30px;
  font-weight: 600;
}

.projects-title img {
  position: absolute;
  width: 160px;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.project-image {
  max-height: 270px;
  width: 100%; /* ✅ fill available width */
  height: auto; /* ✅ keep aspect ratio */
  object-fit: contain;
}

.project-card {
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 30px;
  width: 100%; /* ✅ makes card shrink to fit column */
  max-width: 100%;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.3s;
  cursor: pointer;
}

.projects-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  grid-template-columns: repeat(2, 1fr); /* always 2 per row */
  gap: 30px;
  width: 100%;
  margin-bottom: 40px;
}

.project-card:hover {
  border: 2px solid #b923e1;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .projects {
    align-items: start;
    gap: 50px;
    margin: 20px 6%;
  }
  .projects-title h1 {
    font-size: 40px;
    padding: 0;
  }
  .projects-container {
    grid-template-columns: 1fr; /* single column on small screens */
  }
}
