.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.hero-image {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
}

.hero h1 {
  text-align: center;
  width: 80%;
  font-size: 65px;
  font-weight: 500;
}

.hero h1 span {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  width: 50%;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

.hero-action {
  display: flex;
  align-items: center;

  gap: 25px;
  font-size: 16px;
  font-weight: 500;
}

.hero-connect {
  font-size: 20px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  cursor: pointer;
  padding: 20px 50px;
  color: white;
  transition: 0.5s;
}

.hero-connect:hover {
  border: 2px solid white;
}

.hero-resume {
  font-size: 18px;
  border: 2px solid white;
  border-radius: 50px;
  padding: 20px 50px;
  cursor: pointer;
  transition: 0.5s;
  color: white;
}
.link-icons {
  display: none;
}
a {
  text-decoration: none;
}
.hero-resume:hover {
  border: 2px solid #b923e1;
}

@media (max-width: 768px) {
  .hero {
    gap: 16px;
  }
  .hero h1 {
    font-size: 35px;
    width: 100%;
  }
  .hero p {
    width: 80%;
    font-size: 16px;
    line-height: 25px;
    margin: 5px 0;
  }
  .hero-image {
    width: 180px;
    height: 180px;
  }
  .hero-action {
    gap: 15px;
    margin: 10px;
  }
  .hero-connect,
  .hero-resume {
    padding: 15px 30px;
    font-size: 16px;
  }

  .link-icons {
    display: flex;
    align-items: center;

    gap: 20px;
  }

  .link-icons img {
    height: 37px;
  }
}
