.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 70px 10%;
}

.contact-section {
  display: flex;

  gap: 30px;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-left h1 {
  font-size: 50px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-left p {
  max-width: 550px;
  font-size: 16px;
  color: #d8d8d8;
  line-height: 25px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #d8d8d8;
  font-size: 22px;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.contact-right label {
  font-size: 16px;
  font-weight: 500;
  color: #d8d8d8;
}

.contact-right input {
  border: none;
  width: 700px;
  height: 60px;
  border-radius: 4px;
  padding-left: 20px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 18px;
}

.contact-right textarea {
  border: none;
  width: 100%;

  border-radius: 4px;
  padding: 20px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 18px;
  resize: none;
}

.contact-submit {
  border-radius: 50px;
  color: white;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  cursor: pointer;
  padding: 18px 36px;
  font-size: 16px;
  transition: 0.5s;
}

.contact-submit:hover {
  /* background: linear-gradient(267deg, #b923e1 0.36%, #da7c25 102.06%); */
  transform: scale(1.05);
}

.spinner {
  border: 3px solid #f3f3f3; /* light grey */
  border-top: 3px solid #3498db; /* blue */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .contact {
    margin: 40px 6%;
    gap: 30px;
    align-items: start;
  }
  .contact-section {
    flex-direction: column;
    gap: 30px;
  }
  .contact-left h1 {
    font-size: 36px;
  }
  .contact-left p {
    font-size: 14px;
    line-height: 22px;
  }
  .contact-details {
    font-size: 18px;
    gap: 20px;
  }
  .contact-detail {
    gap: 10px;
  }
  .contact-detail img {
    width: 20px;
  }
  .contact-right label {
    font-size: 14px;
  }
  .contact-right input {
    width: 100%;

    font-size: 18px;
  }
  .contact-right textarea {
    width: 95%;

    font-size: 18px;
  }
}
