.footer {
  margin: 50px 170px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 18px;

  padding-bottom: 20px;
}

.icons {
  height: 40px;
  width: auto;
  padding: 0 20px 0 20px;
}

@media (max-width: 768px) {
  .footer {
    margin: 50px 20px;
    gap: 10px;
  }
  .footer-bottom {
    font-size: 16px;
    flex-direction: column;
    gap: 10px;
  }
  .icons {
    height: 30px;
    padding: 0 10px 0 10px;
  }
}
